* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #092537;
}

h2 {
    font-size: 2.5vw;
    color: #fff;
    text-align: center;
    margin: 1rem 0rem;
}

ol {
    margin-left: 45%;
    font-size: 2.5rem;
    color: #fff;
  }
  
  .container {
    column-count: 3;
    margin: 3rem 20rem;
  }
  
  label {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    margin: 0.3rem;
  }
  
  input {
    margin: 0.4rem;
  }
 